<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Simple file uploader</title>
    <meta name="viewport" content="initial-scale=0.7, maximum-scale=0.7">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/picture-container.css">
    <link rel="stylesheet" type="text/css" href="css/upload-form.css">
    <link rel="stylesheet" type="text/css" href="libs/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="css/dropzone.css">
</head>
<body>

<div id="content">
    <div id="loading-screen" style="display: none">
    </div>
    <div>
        <div class="logo">
            <img src="img/Drawing.png">
        </div>
        <div id="gallery-container" class="pictures-container"></div>
    </div>
    <form id="upload-form" class="upload-form upload-form__border">
        <div class="upload-form__heading"><h3>Upload new files (json)</h3></div>
        <div class="upload-block--container">
            <div class="upload-block__item upload-block__item--big upload-block__file">
                <input id="file"
                       name="file"
                       type="file"
                       class="inherit-width upload-block__file-input"
                       multiple
                       accept="image/*"
                       required />
                       <!--data-styled="true"-->
                       <!--style="opacity: 0; position: relative; border: none; margin: 0px; padding: 0px; top: 0px; right: 0px; cursor: pointer; height: 60px;"-->

            </div>
            <div class="upload-block__item">
                <input id="addFile" type="submit" class="inherit-width upload-block__button" value="Add file">
            </div>
            <div class="upload-block__item upload-block__item--very-big upload-block__item__note">
                Big images will be resized proportionally to 1600px width or 900px height
            </div>
        </div>
    </form>

    <!--<form action="http://localhost:8080/addjson" class="dropzone"></form>-->



</div>
<script type="text/template" id="picture_template">
    <div class="<%= picture_size_class %>">
        <a class="fancybox"
           href="<%= href_to_pop_up %>"
           rel="picture-gallery"
           title="<%= name %>">
            <img title="<%= name %>" src="<%= thumbnail_url %>">
        </a>

        <div class="picture--fullscreen" id="<%= href_pop_up %>" style="display: none;">
            <img src="<%= picture_url %>">
        </div>
        <button class="picture__close" title="Delete file">&times;</button>
    </div>
</script>

<script src="js/serverConfig.js"></script>
<script src="libs/jquery-2.1.4.js"></script>
<script src="libs/underscore.js"></script>
<script src="libs/fancybox/source/jquery.fancybox.pack.js"></script>
<script src="libs/backbone.js"></script>
<script src="libs/mousewheel/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="libs/dropzone.js"></script>

<script src="app.js"></script>
<script>
    $('.fancybox').fancybox();
</script>

</body>
</html>
