/* adobe kuler colors

center rgb(248, 115, 21)
rgb(120, 56, 10);
rgb(249,150, 96)
rgb(120,77, 46)
rbg(197, 91, 17)
*/

html {
    height: 100%;
    font-family : 'Droid Sans', arial, serif;
}

body {
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(207, 207, 207, 0), rgba(207, 207, 207, 1));
    background-repeat: no-repeat;
    color: rgba(120, 56, 10, 1);
}

.logo {
    margin-top: 10px;
    margin-left: 20px;
    width: 500px;
}

.logo img {
    height: 85%;
    width: 85%;
}

#loading-screen {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%; /*image width */
    height: 100%; /*image height */
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url("../img/ajax-loader_bert.gif");
    background-repeat: repeat, no-repeat;
    background-position: center, center;
    background-size: 100% 100%, 15%;
}

.inherit-width {
    width: inherit;
}

.copyright {
    margin-top: 20px;
    margin-left: 20px;
}

h1, h2, h3 {
    display: inline
}

.text-color {
    color: rgba(120, 56, 10, 1);
}