.pictures-container {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    max-width: 100%;
    margin-left: 20px;
    flex-wrap: wrap;
}

.picture {
    margin-right: 10px;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    position: relative;
}

.picture--big {
    width: 410px;
}

.picture img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    /*box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);*/
    box-shadow: 0px 0px 5px 1px rgba(120, 56, 10, 0.4);

}

@media only screen
and (max-width: 500px) {
    .picture--fullscreen {
        max-width: 400px;
        height: auto;
    }
}

@media only screen
and (min-width: 750px) {
    .picture--fullscreen {
        max-width: 1500px;
        min-width: 650px;
        height: auto;
    }
}

@media only screen
and (min-width: 1100px) {
    .picture--fullscreen {
        max-width: 1500px;
        min-width: 800px;
        height: auto;
    }
}

@media only screen
and (max-height: 1100px) {
    .picture--fullscreen img {
        max-width: 100%;
        max-height: 650px;
        height: auto !important;
        height: 100%;
        width: 100%;
    }
}

@media only screen
and (min-height: 1100px) {
    .picture--fullscreen img {
        max-width: 100%;
        max-height: 1000px;
        height: auto !important;
        height: 100%;
        width: 100%;
    }
}

.picture__close {
    background: transparent;
    position: absolute;
    top: 7px;
    right: 0;

    font-size: 40px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    opacity: 0.2;
    text-decoration: none;
    clear: left;
    float: left;
    border: none;
}

.picture__close:hover {
    color: red;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
}

.picture__close:active {
    border: none;
    outline: none;
}

.picture__close:focus {
    border: none;
    outline: none;
}




