/*center rgb(248, 115, 21)
rgb(120, 56, 10);
rgb(249,150, 96)
rgb(120,77, 46)
rbg(197, 91, 17)*/

.upload-form {
    margin-top: 20px;
    margin-left: 19px;
    margin-bottom: 20px;
    max-width: 617px; /* border adds dimension */ /* 620px is 3 pictures  */
    min-width: 410px;
    padding-bottom: 15px;
    background-image: linear-gradient(rgba(248, 115, 21, 0.1), rgba(248, 115, 21, 0.27));
}

@media only screen
and (max-width: 662px) {
    .upload-form {
        max-width: 400px;
        height: auto;
    }
}

.upload-form__border {
    border: solid rgba(120, 56, 10, 0.6);
    border-radius: 20px;
    box-shadow: 0 2px 2px 0 rgba(120, 56, 10, 0.8);
}

.upload-form__container {
    margin-left: 20px;
    margin-top: 15px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.upload-form__heading {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.upload-form__item {
    width: 180px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
    text-align: center;
    flex-basis: auto;
}

.upload-form__item--small {
    width: 100px;
}

.upload-form__item--small:hover .upload-form__button{
    /* NB! same as upload-form__button: hover*/
    max-height: 50px;
    height: 100%;
    border: solid 1px rgba(120, 56, 10, 0.8);
    background: linear-gradient(rgba(197, 91, 17, 0.2), rgba(197, 91, 17, 1));
    box-shadow: 1px 3px 3px 0 rgba(120, 56, 10, 0.95);
}

.upload-form__item--big {
    width: 278px;
}

.upload-form__item--note {
    height: 100%;
    width: 100%;
    flex-wrap: inherit;
    text-align: start;
    font-style: italic;
    font-weight: normal;
}

.upload-form__item--file-input--hidden {
    z-index: 10;
    position: relative;
    height: 50px;
    opacity: 0;
}

.upload-form__item--file--overlay {
    position: absolute;
    box-sizing: border-box;
    padding-top: 14px;
}

.upload-form__item--file--overlay img {
    height: 100%;
    width: 100%;
}

.upload-form__item--file--textbox {
    font-family: inherit;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: none;
    border: none;
}

.upload-form__button {
    font-family: inherit;
    font-weight: bold;
    font-size: 100%;
    max-height: 50px;
    height: 100%;
    border-radius: 20px;
    border: solid 1px rgba(120, 56, 10, 0.4);
    background: linear-gradient(rgba(248, 115, 21, 0.2), rgba(248, 115, 21, 1));
    box-shadow: 1px 3px 3px 0 rgba(120, 56, 10, 0.95);

}
.upload-form__button--small {
    width: 50%;
    border-radius: 18px;
    font-size: 100%;
}

.upload-form__button__text--bigger {
    font-size: 110%;
}

.upload-form__button:hover {
    max-height: 50px;
    height: 100%;
    border-radius: 20px;
    border: solid 1px rgba(120, 56, 10, 0.8);
    /*background: linear-gradient(rgba(120, 56, 10, 0.2), rgba(120, 56, 10, 1));*/
    background: linear-gradient(rgba(197, 91, 17, 0.2), rgba(197, 91, 17, 1));
    box-shadow: 1px 3px 3px 0 rgba(120, 56, 10, 0.95);
}

.upload-form__button:focus {
    outline: 0;
}