.upload-form {
    margin-top: 20px;
    margin-left: 19px;
    padding-top: 10px;
    max-width: 618px;
    min-width: 410px;
    background: rgba(197, 91, 17, 0.3);
}

.upload-form__border {
    border: solid rgba(120, 56, 10, 0.4);
    /*border: solid rgba(197, 91, 17, 0.4);*/
    border-radius: 20px;
    box-shadow: 0px 0px 5px 1px rgba(120, 56, 10, 0.4);
}

.upload-form__heading {
    margin-left: 20px;
    display: inline;
}

.upload-block--container {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    margin-left: 20px;
    margin-bottom: 20px;
}

.upload-block__item {
    width: 180px;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    flex-basis: auto;
}

.upload-block__item__note {
    text-align: start;
    font-style: italic;
    font-weight: normal;
}

.upload-block__item--big {
    width: 390px;
}

.upload-block__item--very-big {
    width: inherit;
}

.upload-item__file-input {
    box-sizing: border-box
}