/*center rgb(248, 115, 21)
rgb(120, 56, 10);
rgb(249,150, 96)
rgb(120,77, 46)
rbg(197, 91, 17)*/

.upload-form {
    margin-top: 20px;
    margin-left: 19px;
    padding-top: 10px;
    max-width: 618px;
    min-width: 410px;
    background: rgba(248, 115, 21, 0.3);

}

.upload-form__border {
    border: solid 1px rgba(120, 56, 10, 0.4);
    /*border: solid rgba(197, 91, 17, 0.4);*/
    border-radius: 20px;
    box-shadow: 1px 3px 3px 0px rgba(120, 56, 10, 0.95);
}

.upload-form__heading {
    margin-left: 20px;
    display: inline;
}

.upload-block--container {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    margin-left: 20px;
    margin-bottom: 20px;
}

.upload-block__item {
    width: 180px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    flex-basis: auto;
}

.xyz {
    position: absolute;
}

.xyz img {
    height: 20%;
    width: 20%;
}

.upload-block__file {
    overflow: hidden;
}


.upload-block__item__note {
    text-align: start;
    font-style: italic;
    font-weight: normal;
}

.upload-block__item--big {
    width: 390px;
}

.upload-block__item--very-big {
    width: inherit;
}

.upload-block__file-input {
    z-index: 10;
    position: relative;
    border: none;
    margin: 0px;
    padding: 0px;
    top: 0px;
    right: 0px;
    cursor: pointer;
    height: 50px;
    opacity: 0;
}

.upload-block__file-input:focus {
    outline: 0;
}

.upload-block__button {
    height: 100%;
    border-radius: 20px;
    border: solid 1px rgba(120, 56, 10, 0.4);
    background: linear-gradient(rgba(248, 115, 21, 0.2), rgba(248, 115, 21, 1));
    box-shadow: 1px 3px 3px 0px rgba(120, 56, 10, 0.95);
}

.upload-block__button:hover {
    height: 100%;
    border-radius: 20px;
    border: solid 1px rgba(120, 56, 10, 0.8);
    /*background: linear-gradient(rgba(120, 56, 10, 0.2), rgba(120, 56, 10, 1));*/
    background: linear-gradient(rgba(197, 91, 17, 0.2), rgba(197, 91, 17, 1));
    box-shadow: 1px 3px 3px 0px rgba(120, 56, 10, 0.95);
}

.upload-block__button:focus {
    outline: 0;
}